main{
  margin-top: 7%;
  background-color: rgba(255, 255, 255, 0.9);
}
main>div{
  min-height: 50px;
  background: 0 0 / 100% 100% repeat-x url("./assets/koreanRoof6.jpg");
}

main h1, main h2{
  text-align: center;
}
main strong{
  color: black;
}

header>h1{
  margin-bottom: 7%;
  color: rgb(100, 20, 20);
}

main>:nth-child(3)>h2{
  background: 0 0 / 100% 100% repeat-x url("./assets/koreanRoof4.jpg");
}
main>:nth-child(3)>h2>strong{
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
}
main>:nth-child(4)>h2{
  background: 0 0 / 100% 100% repeat-x url("./assets/koreanRoof2.jpg");
}
main>:nth-child(4)>h2>strong{
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
}